# Regularization

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Automobile_data.csv")

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [6]:
df["normalized-losses"].replace("?",np.nan,inplace=True)
df["normalized-losses"] = df["normalized-losses"].astype(float)
losses_mean = df["normalized-losses"].mean()
df["normalized-losses"].fillna(losses_mean,inplace=True)

In [7]:
df["horsepower"].replace("?",np.nan,inplace=True)
df["horsepower"] = df["horsepower"].astype(float)
horsepower_mean = df["horsepower"].mean()
df["horsepower"].fillna(horsepower_mean,inplace=True)

In [8]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [9]:
df_num = df.select_dtypes(["int64","float64"])
df_cat = df.select_dtypes("object")

In [10]:
df_num.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [11]:
df_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

C:\Users\itvedant-le1\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [15]:
df_new = pd.concat([df_num,df_cat],axis=1)

In [16]:
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

### Baseline model

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [18]:
X = df_new.drop("price",axis=1)
y = df["price"]

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [20]:
lin = LinearRegression()

lin.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
lin.score(X_test,y_test)

0.7965566780397383

In [22]:
lin.coef_

array([ 4.51384957e+01,  1.53127607e+00,  7.89452171e+02,  3.62663990e+02,
        9.83682875e+01, -1.08169245e+01,  3.08017854e+02, -4.17024371e+02,
       -2.00099087e+02, -6.22650015e+02, -1.70235175e+02,  1.86860719e+03,
        1.64133620e+04,  2.83174279e+02])

## Lasso (L1) and Ridge (L2) Regularization

In [23]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [24]:
for i in range(50):
    l2 = Ridge(alpha=i)
    l2.fit(X_train,y_train)
    print(i,":",l2.score(X_test,y_test))

0 : 0.7965566780397376
1 : 0.8074518758147271
2 : 0.8110292248150516
3 : 0.8126933383890029
4 : 0.8136148645029299
5 : 0.8141745853539419
6 : 0.8145301242133356
7 : 0.8147582608502816
8 : 0.8149010602831955
9 : 0.8149836949253052
10 : 0.8150222867376533
11 : 0.8150277245431791
12 : 0.8150076788279416
13 : 0.8149677381788258
14 : 0.8149120868051176
15 : 0.8148439278252515
16 : 0.814765758494739
17 : 0.8146795554128126
18 : 0.8145869029046835
19 : 0.8144890843369585
20 : 0.8143871485445551
21 : 0.8142819591129827
22 : 0.8141742315788496
23 : 0.8140645619421543
24 : 0.813953448816606
25 : 0.8138413108452037
26 : 0.8137285005403768
27 : 0.8136153153884843
28 : 0.8135020068362637
29 : 0.8133887876197211
30 : 0.813275837783145
31 : 0.813163309653795
32 : 0.8130513319772293
33 : 0.8129400133729977
34 : 0.8128294452363019
35 : 0.8127197041851856
36 : 0.8126108541327801
37 : 0.812502948048576
38 : 0.8123960294605085
39 : 0.8122901337400306
40 : 0.8121852892047272
41 : 0.8120815180669061
42 : 0.8119788372516913
43 : 0.8118772591041922
44 : 0.8117767920020496
45 : 0.811677440887053
46 : 0.8115792077273272
47 : 0.8114820919198037
48 : 0.8113860906412016
49 : 0.8112911991545093

In [25]:
for i in range(200,500):
    l1 = Lasso(alpha=i)
    l1.fit(X_train,y_train)
    print(i,":",l1.score(X_test,y_test))

200 : 0.813920135802378
201 : 0.8139280662762405
202 : 0.813935159660421
203 : 0.813941445241329
204 : 0.8139468631678922
205 : 0.8139514440169053
206 : 0.813955187854152
207 : 0.8139580947656482
208 : 0.8139601648600465
209 : 0.8139614191109495
210 : 0.8139618129219518
211 : 0.8139613886609692
212 : 0.8139601251073795
213 : 0.813958006711075
214 : 0.8139550662926405
215 : 0.8139512871144876
216 : 0.8139466685438559
217 : 0.8139412205900792
218 : 0.8139349321776366
219 : 0.8139278044131173
220 : 0.8139198412531332
221 : 0.813911039568461
222 : 0.8139013960835557
223 : 0.8138907327491184
224 : 0.8138793495175787
225 : 0.8138679413173151
226 : 0.8138517841273681
227 : 0.8138300965530063
228 : 0.813808862026844
229 : 0.8137720953012534
230 : 0.8137112454115849
231 : 0.8136506073167213
232 : 0.8135895879419386
233 : 0.8135281292925489
234 : 0.8134662345475688
235 : 0.8134039469376059
236 : 0.8133412664626606
237 : 0.8132781990167929
238 : 0.8132147054024553
239 : 0.8131507954227812
240 : 0.8130864923620043
241 : 0.8130217962201243
242 : 0.8129567069971416
243 : 0.8128913288695012
244 : 0.8128254778583943
245 : 0.8127592338606416
246 : 0.8126926014737255
247 : 0.8126255181986868
248 : 0.8125580417077236
249 : 0.8124901720008355
250 : 0.812421909078023
251 : 0.8123532529392861
252 : 0.8122842035846242
253 : 0.8122147643892641
254 : 0.8121449323093155
255 : 0.8120747070337009
256 : 0.8120040885624203
257 : 0.8119330768954736
258 : 0.8118616493276111
259 : 0.8117898222707731
260 : 0.8117176101040023
261 : 0.8116449992700032
262 : 0.811571962760737
263 : 0.8114985353624211
264 : 0.8114247182567386
265 : 0.8113505077425297
266 : 0.8112759038197943
267 : 0.8112009064885328
268 : 0.8111255157487448
269 : 0.8110497316004308
270 : 0.8109735540435902
271 : 0.8108969830782234
272 : 0.8108200187043304
273 : 0.8107426644653368
274 : 0.8106649359915967
275 : 0.8105868142205799
276 : 0.8105082991522868
277 : 0.810429390786717
278 : 0.8103500891238711
279 : 0.8102703941637481
280 : 0.8101903059063486
281 : 0.810109824351673
282 : 0.8100289503566498
283 : 0.8099476891019489
284 : 0.8098660345890858
285 : 0.809783986818061
286 : 0.8097015319583752
287 : 0.8096186746243192
288 : 0.8095354239555614
289 : 0.8094517799521008
290 : 0.8093677426139382
291 : 0.8092833119410734
292 : 0.8091984879335063
293 : 0.8091132705912374
294 : 0.8090276599142658
295 : 0.8089416559025919
296 : 0.8088552585562161
297 : 0.8087684678751381
298 : 0.8086812827485818
299 : 0.8085937029998891
300 : 0.8085057299003378
301 : 0.8084173634499286
302 : 0.8083286036486617
303 : 0.8082394504965366
304 : 0.8081499039935539
305 : 0.8080597663593838
306 : 0.8079694364395273
307 : 0.8078787120595041
308 : 0.8077875927452483
309 : 0.8076960801039036
310 : 0.8076041741354694
311 : 0.8075118748399461
312 : 0.8074191822173338
313 : 0.8073260962676322
314 : 0.8072326169908408
315 : 0.807138744386961
316 : 0.8070444784559919
317 : 0.8069498191979335
318 : 0.8068547679582496
319 : 0.806759324754675
320 : 0.8066634882387584
321 : 0.8065672584104993
322 : 0.8064706355018442
323 : 0.8063736241924754
324 : 0.8062762096864741
325 : 0.8061784017113416
326 : 0.8060802004223011
327 : 0.8059816058193523
328 : 0.8058826179024958
329 : 0.8057832366717311
330 : 0.8056834621270583
331 : 0.8055832942684775
332 : 0.8054827330959885
333 : 0.8053817786095916
334 : 0.8052804308092861
335 : 0.8051786896950731
336 : 0.805076555266952
337 : 0.8049740275249226
338 : 0.8048711064689851
339 : 0.80476779209914
340 : 0.8046640844153861
341 : 0.8045599834177242
342 : 0.8044554891061546
343 : 0.8043506014806769
344 : 0.8042453205412907
345 : 0.8041396462879971
346 : 0.8040335787207948
347 : 0.8039271178396847
348 : 0.8038202636446667
349 : 0.8037130161357406
350 : 0.8036053753129061
351 : 0.8034973411761636
352 : 0.8033889137255132
353 : 0.8032800980551269
354 : 0.8031708892623571
355 : 0.8030612871796007
356 : 0.8029512918068575
357 : 0.8028409031441277
358 : 0.8027301211914113
359 : 0.8026189459487086
360 : 0.8025073774160186
361 : 0.8023954155933424
362 : 0.8022830604806792
363 : 0.8021703171121436
364 : 0.802057182148053
365 : 0.8019436539226593
366 : 0.8018297324359621
367 : 0.8017154176879616
368 : 0.801600709678658
369 : 0.8014856084080508
370 : 0.8013701138761409
371 : 0.8012542260829274
372 : 0.8011379462701962
373 : 0.8010212751908076
374 : 0.8009042172865065
375 : 0.8007867661601792
376 : 0.8006689218118243
377 : 0.800550684241443
378 : 0.800432053449035
379 : 0.8003130294346001
380 : 0.8001936121981388
381 : 0.800073807279583
382 : 0.7999536124452482
383 : 0.7998330244208518
384 : 0.7997120432063929
385 : 0.7995906688018721
386 : 0.7994689012072891
387 : 0.7993467366322341
388 : 0.7992241732535745
389 : 0.7991012126725362
390 : 0.7989778588559754
391 : 0.7988541118038915
392 : 0.7987299715162852
393 : 0.798605437993156
394 : 0.7984805112345039
395 : 0.7983551936194995
396 : 0.7982294953903467
397 : 0.7981034039735372
398 : 0.7979769193690709
399 : 0.7978500415769475
400 : 0.7977229768452244
401 : 0.7975953169793591
402 : 0.7974672639209058
403 : 0.7973388176698657
404 : 0.7972099782262378
405 : 0.7970807492907479
406 : 0.7969511276479816
407 : 0.7968211128006849
408 : 0.7966907047488581
409 : 0.7965599034925004
410 : 0.796428709031612
411 : 0.796297114189428
412 : 0.7961658095051946
413 : 0.7960333874447736
414 : 0.7959005840477482
415 : 0.7957673485417145
416 : 0.7956360399711224
417 : 0.7956012202839213
418 : 0.7955644775167092
419 : 0.7955276099492593
420 : 0.7954937732294457
421 : 0.7954792349354559
422 : 0.7954646622071458
423 : 0.7954500580147691
424 : 0.7954354223583258
425 : 0.7954207552378159
426 : 0.7954060566532392
427 : 0.7953913266045958
428 : 0.7953765650918857
429 : 0.7953617721151091
430 : 0.795346947674266
431 : 0.7953320917693556
432 : 0.7953172100333781
433 : 0.7953023265976903
434 : 0.7952888275634817
435 : 0.7952738957429268
436 : 0.795258932497493
437 : 0.7952439378271805
438 : 0.7952289117319888
439 : 0.7952138522057597
440 : 0.7951987590412706
441 : 0.7951836358142573
442 : 0.7951684825716722
443 : 0.7951532979028973
444 : 0.7951380818079329
445 : 0.7951228941367539
446 : 0.7951076795054992
447 : 0.7950924335037355
448 : 0.7950771561314627
449 : 0.7950618668526035
450 : 0.7950465607641612
451 : 0.7950312233360107
452 : 0.7950158545681519
453 : 0.7950004544605845
454 : 0.7949850853076297
455 : 0.7949697021173643
456 : 0.7949542876563072
457 : 0.7949388419244581
458 : 0.7949233649218175
459 : 0.7949078596503467
460 : 0.7948924206311466
461 : 0.7948769504284543
462 : 0.7948614639887757
463 : 0.7948501408515352
464 : 0.7948434115801503
465 : 0.7948369145454426
466 : 0.7948304073993945
467 : 0.7948238901420057
468 : 0.7948173627732755
469 : 0.794810825293205
470 : 0.7948042777017933
471 : 0.794797719999041
472 : 0.794791152184948
473 : 0.7947845742595139
474 : 0.7947779846721656
475 : 0.7947713777053392
476 : 0.7947647606241638
477 : 0.7947581316579226
478 : 0.7947514874358043
479 : 0.7947448330965518
480 : 0.7947381686401644
481 : 0.7947314940666433
482 : 0.794724809375988
483 : 0.7947181145681979
484 : 0.7947114096432736
485 : 0.794704694601215
486 : 0.7946979694420219
487 : 0.7946912341656945
488 : 0.794684488772233
489 : 0.7946777332616372
490 : 0.7946709676339069
491 : 0.7946641918890422
492 : 0.7946574060270432
493 : 0.7946506100479099
494 : 0.7946438039516424
495 : 0.7946369877382405
496 : 0.7946301614077043
497 : 0.7946233249600338
498 : 0.7946164783952289
499 : 0.7946096463760299

In [26]:
l2 = Ridge(alpha=11)
l2.fit(X_train,y_train)
print(l2.score(X_test,y_test))

0.8150277245431791

In [27]:
l2.coef_

array([ 2.08075572e+02, -4.19381533e-01,  3.60059061e+02,  5.73951520e+02,
        1.04837625e+02,  2.25081577e+01,  2.09621781e+02, -2.70364868e+02,
       -1.85682528e+02, -8.73561956e+02, -6.31723522e+02,  1.53165287e+03,
        2.37667318e+03,  5.13039213e+02])

In [28]:
l1 = Lasso(alpha=212)
l1.fit(X_train,y_train)
print(l1.score(X_test,y_test))

0.8139601251073795

In [29]:
l1.coef_

array([   0.        ,    2.06688612,  293.00804229,  475.74946113,
        116.54461228,   15.88311143,   18.71477938, -106.73349254,
       -165.63385126,   -0.        , -417.94284571, 1064.54140452,
       1219.50325351,  307.62453398])

## k-fold cross validation

In [30]:
from sklearn.model_selection import cross_val_score

In [35]:
l1_cross = cross_val_score(l1,X,y,cv=4)
print(l1_cross)

[0.76829534 0.81734961 0.43670651 0.44902514]

In [36]:
l2_cross = cross_val_score(l2,X,y,cv=4)
print(l2_cross)

[0.74102278 0.859919   0.40754955 0.45287323]

In [33]:
np.mean(l1_cross)

0.6178441498868896

In [34]:
np.mean(l2_cross)

0.6153411408406555